@CHARSET "UTF-8";

#top {
			width : 100%;
			height : 80px;
			min-width : 900px;
		}
#logo {
			height : 30px;
			float : left;
			font-size : 15pt;
		}
#regi {
			margin-top : 20px;
			claer : left;
			float : right;
			height : 50px;
			font-size : 10pt;
		}
#login {
			width : 198px;
		}
#reg {
			width : 198px;
		}
#mid {
			width : 100%;
			height : 500px;
			background: url("../../images/λ¬ΈνΈ/01.gif") no-repeat center center fixed;
 			-webkit-background-size: cover;
 			-moz-background-size: cover;
 			-o-background-size: cover;
 			background-size: cover;
 			font-style : bold;
 			color : white;
 			font-size : 40pt;
 			text-align : center;
 			font-family : HeadLineA;
 			text-shadow : 1px 1px 5px gray;
 			min-width : 900px;
		}
#foot {
			clear : both;
			width : 100%;
			height : 50px;
			text-align : center;
		}
		
hr {
			height:1px;
            border:none;
            background:gray;
		}
		
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}