@CHARSET "UTF-8";

#top {
			width : 100%;
			height : 80px;
			min-width : 900px;
		}
#logo {
			height : 30px;
			float : left;
			font-size : 15pt;
		}
#regi {
			margin-top : 30px;
			claer : left;
			float : right;
			height : 50px;
			font-size : 10pt;
		}
#login {
			width : 198px;
		}
#reg {
			width : 198px;
		}
#logout {
			width : 125px;
		}
#mid {
			width : 100%;
			height : 500px;
			background: url("../../images/λ¬ΈνΈ/cafe.jpg") no-repeat center center fixed;
 			-webkit-background-size: cover;
 			-moz-background-size: cover;
 			-o-background-size: cover;
 			background-size: cover;
 			min-width : 1000px;
		}
		
#layout01 {
			width : 70%;
			height : 500px;
			float : left;
			min-width : 700px;
			border-right:1px solid white;
}
.club {
			width : 150px;
			height : 150px;
			margin-top : 50px;
			margin-left : 50px;
			float : left;
			border : 1px solid brown;
}
#layout02 {
			width : 29%;
			height : 500px;
			float : right;
			min-width : 299px;
}
#make_club {
			margin-top : 50px;
			margin-left : 50px;
			background : yellow;
			width : 200px;
			height : 350px;
			background: url("../../images/λ¬ΈνΈ/make.jpg");
			box-shadow : 5px 5px 5px gray;
}
#foot {
			clear : both;
			width : 100%;
			height : 50px;
			text-align : center;
		}
		
hr {
			height:1px;
            border:none;
            background:gray;
		}
		
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}