@CHARSET "UTF-8";

body {
	width: 900px;
	margin: 0 auto;
	margin-top: 10px;
}
div#left {
	width: 798px;
	border-right : 1px solid gray;
	float : right;
}
div#take01_01 {
	float : left;
	border: 1px solid red;
	width: 93px;;
	height: 615px;
}
div#take01_01 ul{
	list-style : none;
}
div#take01_01 ul li{
	width : 90px;
	height : 50px;
	display : block;
	color : white;
	text-align : center;
	background : orange;
	
}

div#take01_01 ul li a:link { color: white; text-decoration: none;}
div#take01_01 ul li a:visited { color: white; text-decoration: none;}
div#take01_01 ul li a:hover { color: white; text-decoration: none;}

div#take01 {
	border: 1px solid white;
	width: 790px;
	height: 150px;
}
div#take02 {
	width: 790px;
	height: 150px;
	margin-top: 5px;
}

div#take02_01 {
	width: 48%;
	height: 140px;
	margin-top: 5px;
	float: left;
	margin-left: 1%;
}

div#take02_02 {
	width: 48%;
	height: 140px;
	margin-top: 5px;
	float: right;
	margin-right: 1%;
}

div#take03 {
	width: 790px;
	height: 150px;
	margin-top: 5px;
}
div#take03_01 {
	width: 48%;
	height: 140px;
	margin-top: 5px;
	float: left;
	margin-left: 1%;
}

div#take03_02 {
	width: 48%;
	height: 140px;
	margin-top: 5px;
	float: right;
	margin-right: 1%;
}

div#take04 {
	width: 790px;
	height: 150px;
	margin-top: 5px;
}